@charset "UTF-8";
@import "/static/css/inputs.css";
/*.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
	background: #fafafa;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
	color: #030203;
}

.form-control,
.btn {
	min-height: 38px;
	border-radius: 2px;
}
.btn {
	font-size: 15px;
	font-weight: bold;
}*/
body {
	max-height: 100vh;
}
.app {
	display: grid;
	padding: 0;
}
.login-form {
	width: min(max(600px, 30vw), 96vw);
	max-width: 100vw;
	align-self: center;
	justify-self: center;
	margin: 0;
	padding: 4vh 2vw;
	border-radius: 15px;
	background-color: var(--layer);
	display: grid;
	gap: 4vh;
	box-shadow: 0 0 1rem 0.75rem rgba(var(--secondary-rgb), 0.1);
}

.login-form > form {
	display: grid;

	justify-items: center;
	align-items: center;

	align-content: space-evenly;
	gap: 2vh;
	align-self: center;
	justify-self: center;
	margin: 0;
}

small {
	font-size: xx-small;
}
.logo-container {
	display: grid;
}
.logo {
	height: 100%;
	max-width: 350px;
	min-width: 150px;
	width: auto;
	align-self: center;
	justify-self: center;
}
