<div id="addUserModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zarządzanie użytkownikiem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        class="modal-form"
        id="addUserForm"
        data-url="/api/user"
        data-type="POST"
        data-action="closeModal"
      >
        <div class="modal-body">
          <div class="form-group">
            <input
              id="username"
              class="form-control"
              name="username"
              placeholder="Nazwa użytkownika"
              pattern="^[^<>/\\]{1,30}$"
              required
              type="text"
            />
          </div>
          <div class="form-group">
            <input
              id="card"
              class="form-control"
              name="card"
              placeholder="ID karty"
              pattern="[0-9a-fA-F]{10}"
              required
              type="text"
            />
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Utwórz" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Zamknij
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
