{% extends "layout.html" %} {% block head %}
<script nonce="{{ csp_nonce }}" type="module">
	window.user = {};
	window.user.permissions = {{ permissions | tojson }};
</script>
<script type="importmap" nonce="{{ csp_nonce }}">
	{ "imports": {
		"vue": "{{ static("js/vue.js") }}",
		"vue-router": "{{ static("js/vue-router.js") }}",
	} }
</script>

<script
	async
	src="{{ static('js/chart.min.js') }}"
	integrity="{{ sri('js/chart.min.js') }}"
></script>
<script
	async
	src="{{ static('js/vue-chartjs.min.js') }}"
	integrity="{{ sri('js/vue-chartjs.min.js') }}"
></script>
<script
	async
	src="{{ static('js/socket.io.slim.js') }}"
	integrity="{{ sri('js/socket.io.slim.js') }}"
></script>
<!--
	Doesn't work with vue3 for now :(
<script
	async
	src="{{ static('components/VueTimepicker.js') }}"
	integrity="{{ sri('components/VueTimepicker.js') }}"
></script>
-->
<script
	defer
	type="module"
	src="{{ static('js/index.js') }}"
	integrity="{{ sri('js/index.js') }}"
></script>
<link
	rel="stylesheet"
	href="{{ static('css/index.css') }}"
	integrity="{{ sri('css/index.css') }}"
/>
<link
	rel="stylesheet"
	href="{{ static('css/vue-timepicker.css') }}"
	integrity="{{ sri('css/vue-timepicker.css') }}"
/>
{% endblock %} {% block main %}
<header-bar v-bind:pagename="$route.name"></header-bar>
<main>
	<router-view v-slot="{ Component }">
		<transition>
			<keep-alive>
				<component :is="Component" />
			</keep-alive>
		</transition>
	</router-view>
</main>
{% endblock %}
