{% extends "layout.html" %} {% block head %}
<link
	rel="stylesheet"
	href="{{ static('css/login.css') }}"
	integrity="sri('css/login.css') "
/>
{% endblock %} {% block body %}
<div class="container">
	<div class="row">
		<div class="login-form">
			<form method="POST" action="{{ url('login') }}">
				<input
					type="hidden"
					name="{{ csrf_field_name }}"
					value="{{ csrf_token }}"
				/>
				<input
					type="string"
					name="username"
					aria-label="username input"
					placeholder="username"
				/>
				<input
					type="password"
					name="password"
					aria-label="passwod input"
					placeholder="password"
				/>
				<input type="checkbox" name="remember" aria-label="remember-me" />
				<input type="submit" />
			</form>
		</div>
	</div>
</div>
{% endblock %}
