{% extends "layout.html" %} {% block head %}
<script
  src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"
  integrity="sha384-hPGA89ovC7qaXzMJ/+P9tMbfS/7I4fHQ8y2QLa2aN/r/ZbOYETChoovePc9gUuaC"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
  integrity="sha384-85lat4NNM1/kgs9R4cNDtSnWESro3mC2NgU/3+jxTQ5IkqYNcbZbGIHzB5fFBPSn sha256-85lat4NNM1/kgs9R4cNDtSnWESro3mC2NgU/3+jxTQ5IkqYNcbZbGIHzB5fFBPSn"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/Chart.min.css') }}"
  integrity="sha384-q9MZ/PQCC1nIFQdrr9yNOFXeSaXjv/yPOJOdBd32aODh8+EM6udfo91a6mRbEDih sha256-q9MZ/PQCC1nIFQdrr9yNOFXeSaXjv/yPOJOdBd32aODh8+EM6udfo91a6mRbEDih"
  crossorigin="anonymous"
/>
  {% endblock %}
  {% block body %}
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo/logo-56px.png') }}" alt="logo"></img>Cherrydoor</a>
      <button class="btn btn-link modal-link" data-modal="addUserModal">Dodaj użytkownika</button>
      <button class="btn btn-link modal-link" data-modal="manageUsersModal">Zarządzaj użytkownikami</button>
  </nav>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="card card-default">
                  <div class="card-header justify-content-center">
                      <h2 class="text-center">Ilość użyć w ostatnim tygodniu</h2>
                  </div>
                  <div class="card-body doorchart-container">
                      <canvas id="doorchart" class="chartjs"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="{{ url_for('static', filename='js/main-chart.js') }}" integrity="sha384-habsLR7Ee4pzZKkSqaK4TB6wAVkDLSf9sJJ1CYyCPNZR6cCiVuG+eB7rtkY54qBw sha256-hQwg40DptsfLN4YebXuA6MB1/b+B39VNa5fieRN8zjo=">
</script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/modals.js') }}"
  integrity="sha384-Fkz/8XDl5adqpC/eS+oXUYxllJigI17HNwrRT7hmhBFBl7DoJ0bh4ZHm7eoEkwN/ sha256-Fkz/8XDl5adqpC/eS+oXUYxllJigI17HNwrRT7hmhBFBl7DoJ0bh4ZHm7eoEkwN/"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/users.js') }}"
  integrity="sha384-hsqxTk2/BTThrzW1v2pRT+3YkiG9DUQblvDsANndgHKHvaRONXkKDEihrjNHa9I7 sha256-hsqxTk2/BTThrzW1v2pRT+3YkiG9DUQblvDsANndgHKHvaRONXkKDEihrjNHa9I7"
></script>
{% include "manage-users-modal.html" %} {% endblock %}
