name: python publish

on:
  push:
    branches:
      - master
      - "v[0-9]+.[0-9]+**"
    tags:
      - "v[0-9]+.[0-9]+**"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: generate build number
        if: ${{ !contains(github.ref, 'master') }}
        id: version
        uses: oplik0/gh-action-buildnum@v1
        with:
          gist_token: ${{ secrets.GIST_TOKEN }}
          version_key: ${{ github.ref }}
          set_env: true
      - name: Automatically set dev version
        if: ${{ !contains(github.ref, 'master') }}
        run: |
          echo ::set-env name=CHERRYDOOR_VERSION::$(echo $(echo "$GITHUB_REF" | egrep -woi "([0-9\.{dev}\-]+)" && echo "$BUILDNUM_FOR_VERSION") | tr -d " ")
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload --skip-existing dist/*
      - name: Set published version for release
        run: echo ::set-env name=PUBLISHED_VERSION::$(cat VERSION)
      - name: Geneate changelog
        id: changelog
        uses: srepollock/changelog-generator-action@0.1.1
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ format('v{0}', env.PUBLISHED_VERSION) }}
          prerelease: ${{ contains(github.ref, 'dev') }}
          body: ${{ steps.changelog.outputs.changelog }}
          files: |
            dist/*.whl
            dist/*.tar.gz
